/* 전체 페이지 레이아웃 */
.total-page {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0;
  background-color: #f7f9fc;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  font-family: 'Arial', sans-serif;
}

/* 헤더 컨테이너 */
.header-container {
  display: flex; /* 버튼 위치를 조정하기 위해 flex 사용 */
  justify-content: flex-end; /* 오른쪽 끝으로 이동 */
  align-items: flex-end; /* 아래쪽 끝으로 이동 */
  height: 60px; /* 고정 높이로 영역 확보 */
  margin: 0;
  padding: 0; /* 아래쪽 여백 추가 */
  background-color: white; /* 흰색 배경 */
  border-bottom: 0 solid #ccc; /* 구분선 추가 */
}

/* 뒤로가기 버튼 */
.back-button {
  background-color: #1e3d2f;
  color: white;
  border: none;
  padding: 10px 30px;
  border-radius: 0;
  cursor: pointer;
  font-weight: bold;
  transition: background-color 0.3s;
}

.back-button:hover {
  background-color: #0056b3;
}

/* 탭 버튼 컨테이너 */
.tab-container {
  display: flex;
  justify-content: center;
  gap: 0px;
  margin: 0;
  padding: 20px 100px;
  background-color: #1e3d2f;
}

/* Search 탭 버튼 */
.tab.search {
  flex: 1;
  padding: 10px 10px;
  text-align: center;
  font-size: 16px;
  font-weight: bold;
  color: #000000;
  border-radius: 0;
  background-color: #00FFFF; /* Search 버튼 색상 */
  cursor: pointer;
  transition: all 0.3s ease;
}


/* Ranking 탭 버튼 */
.tab.ranking {
  flex: 1;
  padding: 10px 10px;
  text-align: center;
  font-size: 16px;
  font-weight: bold;
  color: #000000;
  border-radius: 0;
  background-color: #8DFFE2; /* Ranking 버튼 색상 */
  cursor: pointer;
  transition: all 0.3s ease;
}


/* 콘텐츠 컨테이너 */
.content-container {
  border: none;
  border-radius: 0;
  padding: 20px;
  margin: 0;
  box-shadow: none;
  background-color: #FFFFFF; /* 기본 배경색 */
  transition: background-color 0.3s ease;
}

/* 반응형 디자인 */
@media (max-width: 768px) {
  .tab-container {
    flex-direction: column;
  }

  .tab {
    flex: none;
  }
}
