.api-log {
  background-color: #ffcdd2;
  border-radius: 16px;
  max-height: 200px;
  overflow-y: hidden;
  margin: 16px;
}

.api-log h3 {
  margin-left: 16px;
  text-align: left;
  height: 40px;
}

.api-log ul {
  list-style: none;
  text-align: left;
  padding-left: 16px;
  max-height: calc(200px - 40px);
  overflow-y: auto;
}

.api-log li {
  padding: 0;
}

.api-log p {
  list-style: none;
  text-align: left;
  padding-left: 16px;
  max-height: calc(200px - 40px);
}