.api-log {
  background-color: #ffcdd2;
  border-bottom-left-radius: 16px;
  border-bottom-right-radius: 16px;
  max-height: 200px;
  overflow-y: hidden;
  margin-left: 16px;
  margin-right: 16px;
  margin-bottom: 16px;
}

.api-log h3 {
  margin-left: 16px;
  text-align: left;
  height: 14px;
  font-size: 14px;
}

.api-log ul {
  list-style: none;
  padding-left: 16px;
  text-align: left;
  max-height: calc(200px - 14px);
  font-size: 14px;
  overflow-y: auto;
}

.api-log li {
  padding: 0;
}

.api-log p {
  list-style: none;
  text-align: left;
  padding-left: 16px;
  font-size: 14px;
  max-height: calc(200px - 14px);
}