.category-tabs-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-height: 50px;
  max-width: 800px;
  margin-top: 16px;
  margin-left:16px;
  margin-right:16px;
  border: none;
  position: relative;
  border-left: 2px solid black;
  border-right: 2px solid black;
}

.category-tabs {
  display: flex;
  overflow-x: auto;
  white-space: nowrap;
}

.category-tab {
  height: 40px;
  padding: 8px 16px;
  background-color: #ccc;
  font-weight: bold;
  border: none;
  border-top: 2px solid black;
  border-bottom: 2px solid black;
  border-right: 2px solid black;
  cursor: pointer;
  font-size: 12px;
}

.category-tab.active {
  background-color: #94E8B4;
  border-bottom: none;
}

.redirect-button {
  height: 40px;
  padding: 8px 16px;
  background-color: #004225;
  border: none;
  border-top: 2px solid black;
  border-bottom: 2px solid black;
  border-left: 2px solid black;
  color: white;
  font-weight: bold;
  cursor: pointer;
  white-space: nowrap;
  font-size: 12px;
}

.tab-spacer {
  height: 38px;
  flex-grow: 1;
  border-bottom: 2px solid black;
}