.category-tabs-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-height: 40px;
  margin-top: 16px;
  margin-left:16px;
  margin-right:16px;
}

.category-tabs {
  display: flex;
  overflow-x: auto;
  white-space: nowrap;
}

.category-tab {
  padding: 8px 16px;
  margin-right: 16px;
  background-color: #ccc;
  border: none;
  cursor: pointer;
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
  font-size: 12px;
}

.category-tab.active {
  background-color: #4caf50;
  color: white;
}

.redirect-button {
  padding: 8px 16px;
  background-color: #ff4d4d;
  border: none;
  color: white;
  cursor: pointer;
  white-space: nowrap;
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
  font-size: 12px;
}